nav.it-main-nav
	.it-container
		.it-main-nav__wrap
			ul
				li.active
					a(href="#")
				li
					a(href="#")
						ul
							li
								a(href="#")
									ul
										li
											a(href="#")
				li
					a(href="#")
				li
					a(href="#")
				li
					a(href="#")
				li
					a(href="#")


