aside.other-progectss
		.other-progects__title
			|	Похожие проекты:
		.other-progectss__wrap

			ul.other-progects__list
				li.other-progects__item
					a(href="#").other-progects__inner-item
						.other-progects__img-box
							img.other-progects__img(src="static/img/other-progects/1.jpg", alt='')
						.other-progects__content
							.other-progects__item-title
								|	Проект №301
							.other-progects__item-price
								|	от
								span
									|	6 230 400
								|	₽
				li.other-progects__item
					a(href="#").other-progects__inner-item
						.other-progects__img-box
							img.other-progects__img(src="static/img/other-progects/1.jpg", alt='')
						.other-progects__content
							.other-progects__item-title
								|    Проект №301
							.other-progects__item-price
								|    от
								span
									|    6 230 400
								|    ₽
			.other-progects__person
				ul.other-progects__person__list
					li.other-progects__person-item
						.other-progects__person-img-box
							img(src="static/img/other-progects/2.jpg", alt='').other-progects__person-img
						.other-progects__person-content
							.other-progects__person-title
								|    Директор по строительству
								| Александр Александрович
							.other-progects__person-subtitle
								|	Отвечу на любые вопросы
							.other-progects__person-buttons
								.other-progects__person-btn.it-btn
									|	Задать вопрос



